*{
    box-sizing: border-box;
}
body {
	animation: fadeInAnimation ease 6s;
	animation-iteration-count: 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.container{
    background-color: aliceblue;
    width: 100%;
    background-image: url("coding.jpg");
    position: relative;
    padding-top: 80px;
    padding-bottom: 60vh;
    background-repeat: no-repeat;
    /* display: flex; */
    object-fit: cover; */

}
.list{
    float: right;
    font-size: 30px;
     font-weight: 700;
     width: 100%;
     margin-left: 1300px;
     color: black;
}
.list li{
    list-style: none;
    padding: 15px;
    float: left;
}
.myName{
    color: orangered;
}
.name{
    display: flex;
    justify-content: space-around;
    padding: 70px;

}
#btn1{
    border-radius: 20px;
    height: 55px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
}
.About{
    text-align: center;
    font-size: 45px;
    color: white;
    margin-top: 250px;

}
.About span{
    color: orange;
}
#span{
    color: orange;
}
.container2{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    background-color: black;
    height: 600px;
}
.imageburger{
    height: 75px;
    padding: 20px;
}
.image{
    height: 555px;
    margin-left: 200px;
    width: 750px;
}
#heading{
    color: orange;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
    font-size: 40px;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: -10s;
    background-color: whitesmoke;
    
}
.burgersite{
    border: black;
    border-radius: 20px;
    font-size: 35px;
    width: 600px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    align-content: center;
    color: white;
    justify-content: space-evenly;

}
#btn2{
    border-radius: 20px;
    height: 55px;
    width: 35%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
    align-content: center;
    font-size: 20px;
}
#btn3{
    border-radius: 20px;
    height: 55px;
    width: 35%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    
}
#student{
  height: 150px;
  width: 145px;
  align-content: center;
}