*{
    box-sizing: border-box;
}
body {
	animation: fadeInAnimation ease 6s;
	animation-iteration-count: 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 4;
	}
}


.container{
    background-color: aliceblue;
    width: 100%;
    background-image: url("coding.jpg");
    position: relative;
    padding-top: 80px;
    padding-bottom: 60vh;
    background-repeat: no-repeat;
    /* display: flex; */
    object-fit: cover; 

}
.list{
    float: right;
    font-size: 30px;
     font-weight: 700;
     width: 100%;
     margin-left: 1300px;
     color: black;
}
.list li{
    list-style: none;
    padding: 15px;
    float: left;
}
.myName{
    color: orangered;
}
.name{
    display: flex;
    justify-content: space-around;
    padding: 70px;

}
#btn1{
    border-radius: 20px;
    height: 55px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
}
.About{
    text-align: center;
    font-size: 45px;
    color: white;
    margin-top: 250px;

}
.About span{
    color: orange;
}
#span{
    color: orange;
}
.container2{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 600px;
    height: 50%;
    animation: fadeInAnimation ease 6s;
	animation-iteration-count: 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 4;
	}
}
.imageburger{
    height: 75px;
    padding: 20px;
}
.image{
    height: 555px;
    margin-left: 200px;
    width: 950px;
}
#heading{
    color: orange;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
    font-size: 40px;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: -10s;
    background-color: whitesmoke;
    
}
#heading2{
    color: orange;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
    font-size: 40px;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: -10s;
    background-color: whitesmoke;
}
#heading3{
    color: orange;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
    font-size: 40px;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: -10s;
    background-color: whitesmoke;
}
.burgersite{
    border: gray;
    border-radius: 20px;
    font-size: 35px;
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    align-content: center;
    color: black;
    justify-content: space-evenly;
    text-align: center;

}
#li{
    color: green;
}
#btn2{
    border-radius: 20px;
    height: 55px;
    width: 35%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
    align-content: center;
    font-size: 20px;
}
#btn3{
    border-radius: 20px;
    height: 55px;
    width: 35%;
    text-align: center;
    color: white;
    background-color: #23A6F0;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    
}
#student{
  height: 150px;
  width: 145px;
  align-content: center;
  
}
.aboutme{
    background-image: url("about.jpg");
    position: relative;
    padding-top: 80px;
    padding-bottom: 60vh;
    background-repeat: no-repeat;
    /* display: flex; */
    object-fit: cover; 
    width: 100%;
    margin-left: 125px;
}
.me{
    color: white;
    font-size: 15px;
}
.me p{
    font-size: 35px;
    align-content: center;
    margin-left: 200px;
}
.hobbies{
    margin-left: 300px;
    font-size: 40px;
    color: brown;

}
.hobbies h3{
    color: red;
    font-size: 55px;
}
#icon{
    height: 20%;
    width: 15%;
}
.contacts{
    height: 60%;
    width: 100%;
    background-color: green;
    display: flex;
}
.subscribe{
    display: flex;
}
/* #sub{
    border-radius: 10px;
    /* height: 20px; */
    /* width: 10px;
} */